.app {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./assets/Pattern.jpg) top left;
  padding: 36px;
  z-index: 0;
}

.app-wrapper {
  margin: 24px auto;
}
